---
- name: Create Ansible lineinfile demo file
  hosts: all
  become: yes
  tasks:
    - name: Install httpd package
      yum:
        name: httpd
        state: present
    - name: Start and enable httpd service
      service: 
        name: httpd
        state: started
        enabled: yes
    - name: Create custom index.html
      copy:
        dest: /var/www/html/index.html
        content: This is a Nautilus sample file, created using Ansible!

    - name: Add new line at the top of index.html
      lineinfile:
          path: /var/www/html/index.html
          line: Welcome to xFusionCorp Industries!
          insertbefore: BOF
          owner: apache
          group: apache
          mode: '0744'